* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.heading {
  color: #2e1076;
  font-weight: bolder;
  margin-left: 1rem;
}

.card {
  /* width: 350px; */
  height: 310px;
  background-color: gainsboro;
  /* border: 1px solid black; */
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 3px 2px 3px 2px grey;
  /* align-items: center; */
}

ul li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  font-size: large;
  margin-bottom: 0.8rem;
}
span {
  font-weight: bolder;
}
/* div,
cart-body {
  margin-left: 5px;
} */
.card-main {
  display: grid;
  grid-gap: 20px;
  width: 95%;
  margin: 50px auto;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.head {
  text-align: center;
  color: #457e27;
  padding-top: 1rem;
}
.corona-text {
  color: red;
}

.input-text {
  margin-left: 2rem;
}

input {
  font-size: medium;
  width: 16rem;
  padding: 5px;
  box-shadow: inset 2px 2px 2px 2px grey;
  box-shadow: 2px 2px 2px 2px #2e1076;
  border: none;
  outline: none;
  border-radius: 10px;
}
.submit {
  margin-left: 1rem;
  font-size: medium;
  padding: 5px;
  box-shadow: inset 2px 2px 2px 2px grey;
  box-shadow: 2px 2px 2px 2px red;
  border: none;
  outline: none;
  border-radius: 10px;
}

.btn {
  font-size: medium;
  text-decoration: none;
  padding: 5px;
  box-shadow: inset 2px 2px 2px 2px grey;
  box-shadow: 2px 2px 2px 2px rgb(236, 163, 243);
  border-radius: 10px;
  margin-right: 3rem;
}
.dark-btn {
  display: flex;
  justify-content: flex-end;
}
.load {
  margin-left: 45%;
}
